<div class="container my-4">
  <form class="form-inline justify-content-center">
    <div class="form-group mb-2 container">
      <div class="row">
        <div class="col-10">
          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Test your Molecule..."
            name="smiles"
            [(ngModel)]="smiles"
            (input)="convertSMILEStoBrute()"
          />
          <div *ngIf="smiles && notValid" class="error-mes">
            Invalid SMILES string.
          </div>
        </div>
        <div class="col-2">
          <select
            class="form-select form-select-lg mb-3"
            aria-label="Default select example"
          >
            <option disabled selected>Target</option>
            <!-- <option [value]="1">Alzheimer</option> -->
            <option *ngFor="let target of targets" [value]="target.id">{{ target.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex flex-row-reverse">
        <div class="card border-info" style="max-width: 20rem">
          <div class="card-header">
            <span [innerHTML]="bruteFormulaDisplay || 'bruteFormula'"></span>
          </div>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary mb-2"
      [disabled]="(!smiles || notValid) && enableAtLoad"
      (click)="getResults()"
    >
      Send
    </button>
  </form>
</div>
