<div class="container">
    <div class="row h-100 align-items-center">
        <div class="col-lg-6">
            <h1 class="display-4">About us</h1>
            <p class="lead text-muted mb-0">
                DrugIT is an innovative project that aims to revolutionize the process of drug discovery and development through the integration of AI and biology. The pharmaceutical industry faces numerous challenges in identifying and developing new drugs, and the DrugIT project is designed to overcome these challenges by utilizing cutting-edge technology and scientific knowledge.
            </p>
            <br>
            <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Try the Model</a>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <img src="../../../assets/logo2v2.png" alt="" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
            <i class="bi bi-bar-chart fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">Our primary goal</h2>
            <p class="font-italic text-muted mb-4">
                 is to develop a platform that streamlines the drug discovery process by leveraging AI and biology to predict the efficacy and toxicity of candidate molecules. By using molecular descriptors and deep learning algorithms, the platform is able to predict the activity of molecules against specific targets, such as enzymes or receptors. The predictions are then validated using experimental data obtained from in vitro and in vivo assays, providing accurate assessments of the therapeutic potential of the candidate molecules.
            </p>
            
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
            <img src="https://img.freepik.com/free-vector/brain-with-digital-circuit-programmer-with-laptop-machine-learning-artificial-intelligence-digital-brain-artificial-thinking-process-concept-vector-isolated-illustration_335657-2246.jpg?w=996&t=st=1682286716~exp=1682287316~hmac=237cbefcb02cd459b9795147b40917f3e0e91eb396eca455a732a1c85aea8118" alt="" class="img-fluid mb-4 mb-lg-0 rounded-5" />
            <!-- <a href="https://www.freepik.com/free-vector/brain-with-digital-circuit-programmer-with-laptop-machine-learning-artificial-intelligence-digital-brain-artificial-thinking-process-concept-vector-isolated-illustration_11668759.htm#query=deep%20learning&position=24&from_view=keyword&track=ais">Image by vectorjuice</a> -->
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto">
            <img src="./../../../assets/dnabinary.jfif" alt="" class="img-fluid mb-4 mb-lg-0" />
        </div>
        <div class="col-lg-6">
            <i class="bi bi-leaf fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">The DrugIT project</h2>
            <p class="font-italic text-muted mb-4" style="color: white;">
                has the potential to significantly accelerate the drug discovery process by reducing the time and resources required to identify and develop new drugs. By leveraging the power of AI and biology, the platform is able to provide accurate predictions of drug activity and toxicity, enabling researchers to focus their efforts on the most promising candidate molecules. Additionally, the platform has the potential to reduce the cost of drug development by identifying potential issues with candidate molecules early in the process, before significant resources are invested.
            </p>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-8">
            <h2 class="display-4 font-weight-light">Our team</h2>
            <p class="font-italic text-muted">
                the DrugIT project combines the expertise of biologists, Software Engineers and data scientists, who work collaboratively to develop and refine the algorithms and models that power the platform. The biologists are responsible for designing and conducting the experimental assays to validate the predictions made by the AI models. Meanwhile, the data scientists are responsible for developing the AI models that predict the efficacy and toxicity of candidate molecules.
            </p>
        </div>
    </div>

    <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-light rounded shadow-sm py-5 px-4">
                <img src="https://media.licdn.com/dms/image/D4D03AQELqSFWirAYAg/profile-displayphoto-shrink_800_800/0/1665570926093?e=1687996800&v=beta&t=ve4ukvIJTNk4y2o_pOJp34jgH-NDe4__nuk87vqU1_0" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                <h5 class="mb-0 text-dark">Koussai Salem</h5>
                <span class="small text-dark">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/koussai.malox" class="social-link"><i class="bi bi-facebook"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="#" class="social-link"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
                    </li> -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/koussai-salem-400542219/" class="social-link"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-dark rounded shadow-sm py-5 px-4">
                <img src="https://media.licdn.com/dms/image/D4D03AQHX7OM8Au7K1g/profile-displayphoto-shrink_800_800/0/1668893996912?e=1687996800&v=beta&t=Q2I4IFFhAf8e1TDPohAJfh_Pzd11LZoqfjT3s32xT24" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                <h5 class="mb-0">Idris Saddi</h5>
                <span class="small text-muted">CTO</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/syrda2002/" class="social-link"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/idris-saddi" class="social-link"><i class="bi bi-github"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
                    </li> -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/idris-saddi" class="social-link"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5 ">
            <div class=" bg-dark rounded shadow-sm py-5 px-4">
                <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t39.30808-6/252020455_2233544736785988_1988049804838249388_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HPXkkgbapnkAX-mT8u4&_nc_ht=scontent.ftun9-1.fna&oh=00_AfC_EzlHbUdRMw6oqOlQStUm28T8jjCV4fWkGa6r2Ot3UA&oe=6452C6A0" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                <h5 class="mb-0">Aziz Amari</h5>
                <span class="small text-muted">head ML Team</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/aziz.amari2003" class="social-link"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/azizamari" class="social-link"><i class="bi bi-github"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
                    </li> -->
                    <li class="list-inline-item">
                        <a href="https://linkedin.com/in/azizamari" class="social-link"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-dark rounded shadow-sm py-5 px-4">
                <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t39.30808-1/318217676_851458509339327_3855646517576676935_n.jpg?stp=c0.92.320.320a_dst-jpg_p320x320&_nc_cat=111&ccb=1-7&_nc_sid=7206a8&_nc_ohc=K2cpQylhW-IAX9rwRcu&_nc_ht=scontent.ftun9-1.fna&oh=00_AfAm0Blx2z45D5Hy4Mc3nYu6KLNusR6jwy6_s-86loe7yg&oe=64526759" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                <h5 class="mb-0">Ossama Ferjeni</h5>
                <span class="small text-muted">Business Team</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=100034255560996" class="social-link"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/FerjaniOssama" class="social-link"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/ossdet" class="social-link"><i class="bi bi-github"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/ossama-ferjani/" class="social-link"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5 ">
            <div class=" bg-dark rounded shadow-sm py-5 px-4">
                <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t39.30808-6/333215622_3055081948125637_6917514023327274071_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ZFSkt5YiIaAAX9cZkWt&_nc_ht=scontent.ftun9-1.fna&oh=00_AfCtmNaCZRDrODo4_pFXybEiN33jbPDLj_y4J7UtI5Dg6w&oe=6452192F" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                <h5 class="mb-0">Raed Addala</h5>
                <span class="small text-muted">Dev Team</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/RAEDADDALA/" class="social-link"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/RaedAddala" class="social-link"><i class="bi bi-github"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
                    </li> -->
                    <li class="list-inline-item">
                        <a href="https://tn.linkedin.com/in/raed-addala-498b69191" class="social-link"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

    </div>
</div>