<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0 text-secondary">Molecule Info</h5>
        <p class="mb-0 brut">BRUT FORMULA BRUT FORMULA</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">molecular Weight</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">logP</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">num H Donors</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">num H Acceptors</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">pIC50</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">Num Heavy Atoms</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">num Chiral Centers List</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">polarizabilities</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">num Rings</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <h6 class="mb-0">rotable Bonds</h6>
            </div>
            <div class="col-sm-4 text-secondary"></div>
        </div>
    </div>
</div>