.list-group-item {
  background-color: #7FB2C8;
  border: 0;
  border-radius: 10px;
}

.btn-toolbar {
  margin-top: 10px;
}

.badge {
  color: black;
  font-size: 0.5em;
  font-family: "Open Sans", sans-serif;
}


.card-body .card-title {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}
.card-body .card-text {
  text-align: left;
  font-weight: 400;
}

.BRUT{
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}