<!-- ...other files and HTML tags... -->
<!-- Load the RDKit JS file -->
<!-- <script src="https://unpkg.com/@rdkit/rdkit/dist/RDKit_minimal.js"></script> -->

<!-- Instantiate the WASM module. The inline script below could live elsewhere inside your application code. -->
<!-- <script>
    window
    .initRDKitModule()
    .then(function (RDKit) {
        console.log("RDKit version: " + RDKit.version());
        window.RDKit = RDKit;
        /**
         * The RDKit module is now loaded.
         * You can use it anywhere.
         */
    })
    .catch(() => {
        // handle loading errors here...
    });
</script> -->
<!-- ...your application code goes here... -->

<p>molecule draw component </p>

