<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <img src="../../../assets/logo2v2.png" alt="Logo"/>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h4 class="text-uppercase mb-4">Contact Us</h4>
        <p class="lead mb-0">
          Address: 123 Main St<br />
          City, State 12345<br />
          Phone: (123) 456-7890<br />
          Email: info@example.com
        </p>
      </div>
    </div>
  </div>
</footer>
