<div class="container-xl px-4 mt-4">

    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2"
                    [src]="user.image" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <div class="mb-3">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input class="form-control" id="inputUsername" type="text"
                                placeholder="Enter your username" [value]="user.username">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Organisation</label>
                            <input class="form-control" id="inputOrganisation" type="text"
                                placeholder="Enter your Organisation" [value]="user.organisation">
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email"
                                placeholder="Enter your email address" [value]="user.email">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel"
                                    placeholder="Enter your phone number" [value]="user.phone">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthdate</label>
                                <input class="form-control" id="inputBirthday" type="date" name="birthdate" [value]="user.birthdate">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <div class="d-flex mb-3">
                            <button class="btn btn-primary me-auto p-2" type="button" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Save changes</button>
                            <button class="btn btn-danger p-2" type="button">Delete Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>