<div class="container justify-content-center contact w-100">
    <h1 class="justify-content-center"> Contact Us</h1>
    <mat-dialog-content class="container d-flex">
        <form class="m-auto">
            <div class="form-group">
                <mat-form-field>
                    <input matInput class="form-control" placeholder="Object" [(ngModel)]="object" name="object" style="width: 100%;" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <textarea matInput class="form-control" placeholder="Message" [(ngModel)]="message" name="message"
                        required></textarea>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="container d-flex">
        <button mat-button class="btn btn-secondary me-auto" (click)="onNoClick()">Cancel</button>
        <button mat-button class="btn btn-primary" [mat-dialog-close]="{object:object, email: email, message: message}"
            [disabled]="!email || !message">Send</button>
    </mat-dialog-actions>
</div>
